* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.poster {
width: 100%;
display: flex;
overflow: hidden;
}

.screen{
background-image: url("../img/backgr.png");
height: 1197vh;
width: 100vw;
top: 0;
left: 0;
overflow: hidden;
position: absolute;
}

.star1{
position: absolute;
width: 14vw;
height: auto;
margin-top: 74vh;
margin-left: 92vw;
transform: translate(-50%, -50%);
animation: star1 1s infinite ease-in-out;
}

@keyframes star1{
0%{transform: scale(1.5)}
50%{transform: scale(2)}
100%{transform: scale(1.5)}
}

.star2{
position: absolute;
width: 23vw;
height: auto;
margin-top: 78vh;
margin-left: -1vw;
transform: translate(-50%, -50%);
animation: star2 1s infinite ease-in-out;
}

@keyframes star2{
0%{transform: scale(1)}
50%{transform: scale(1.2)}
100%{transform: scale(1)}
}

.start{
position: absolute;
width: 92vw;
height: auto;
margin-top: 7vh;
margin-left: 7vw;
transform: translate(-50%, -50%);
animation: start 2.8s infinite ease-in-out;
}

@keyframes start{
0%{transform: scale(1.3)}
50%{transform: scale(0.5)}
100%{transform: scale(1.3)}
}

.friend{
position: absolute;
width: 78vw;
height: auto;
margin-top: 54vh;
margin-left: 12vw;
animation: friend 2s infinite ease-in-out;
}

@keyframes friend{
0%{transform: scale(1.3)}
50%{transform: scale(0.5)}
100%{transform: scale(1.3)}
}

.ticket{
position: absolute;
width: 73vw;
height: auto;
margin-top: 74vh;
margin-left: 16vw; 
}

.forget{
position: absolute;
width: 35vw;
height: auto;
margin-top: 131vh;
margin-left: 63vw; 
animation: forget 2.1s infinite ease-in-out;
}   

@keyframes forget{
0%{transform: scale(1.2)}
50%{transform: scale(0.8)}
100%{transform: scale(1.2)}
}

.call{
position: absolute;
width: 35vw;
height: auto;
margin-top: 162vh;
margin-left: 1.3vw; 
animation: call 2.2s infinite ease-in-out;
}   

@keyframes call{
0%{transform: scale(1.2)}
50%{transform: scale(0.8)}
100%{transform: scale(1.2)}
}

.phone{
position: absolute;
width: 68vw;
height: auto;
margin-top: 162vh;
margin-left: 23vw; 
}   

.star3{
position: absolute;
width: 27vw;
height: auto;
margin-top: 209vh;
margin-left: 73vw; 
animation: star3 2.8s infinite ease-in-out;
}   

@keyframes star3{
0% {transform: rotate(360deg);}
100% {transform: rotate(0deg);}
}

.star4{
position: absolute;
width: 23vw;
height: auto;
margin-top: 243vh;
margin-left: 2vw;
animation: star4 2.8s infinite ease-in-out; 
}   

@keyframes star4{
0% {transform: rotate(360deg);}
100% {transform: rotate(0deg);}
}

.bubble{
position: absolute;
width: 12vw;
height: auto;
margin-top: 330vh;
margin-left: 82vw; 
}   

.guitar{
position: absolute;
width: 83vw;
height: auto;
margin-top: 302vh;
margin-left: 4vw; 
}   

.play{
position: absolute;
width: 30vw;
height: auto;
margin-top: 403vh;
margin-left: 3vw; 
}  

.star5{
position: absolute;
width: 27vw;
height: auto;
margin-top: 447vh;
margin-left: 5vw; 
animation: star5 2.8s infinite ease-in-out;
}   

@keyframes star5{
0% {transform: rotate(360deg);}
100% {transform: rotate(0deg);}
}

.record{
position: absolute;
width: 72vw;
height: auto;
margin-top: 517vh;
margin-left: 23vw; 
}   

.cassete{
position: absolute;
width: 86vw;
height: auto;
margin-top: 537vh;
margin-left: 7vw; 
}   

.choose{
position: absolute;
width: 36vw;
height: auto;
margin-top: 640vh;
margin-left: 9vw; 
}   

.calendar{
position: absolute;
width: 76vw;
height: auto;
margin-top: 670vh;
margin-left: 25vw; 
}   

.star6{
position: absolute;
width: 30vw;
height: auto;
margin-top: 792vh;
margin-left: 3vw; 
animation: star6 2.8s infinite ease-in-out;
}   

@keyframes star6{
0% {transform: rotate(360deg);}
100% {transform: rotate(0deg);}
}

.jazz{
position: absolute;
width: 63vw;
height: auto;
margin-top: 787vh;
margin-left: 33vw; 
}   

.lets{
position: absolute;
width: 48vw;
height: auto;
margin-top: 914vh;
margin-left: 27vw; 
}   

.pop{
position: absolute;
width: 90vw;
height: auto;
margin-top: 960vh;
margin-left: 5vw; 
}  

.star7{
position: absolute;
width: 30vw;
height: auto;
margin-top: 976vh;
margin-left: 69vw; 
animation: star7 2.8s infinite ease-in-out;
}  

@keyframes star7{
0% {transform: rotate(360deg);}
100% {transform: rotate(0deg);}
}

.end{
position: absolute;
width: 100vw;
height: auto;
margin-top: 1100vh;
margin-left: 0vw; 
}  











